body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.text {
    font-size: 18px;
    color: #444;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkviolet;
}